
.carousel-item div {
    position: absolute;
    margin: auto;
    color: white;
    top: 50%;
    left: 50%;
    text-align:right;
    padding-right: 10%;
}

/*.carousel-item h2{
    position: absolute;
    margin: auto;
    color: white;
    top: 45%;
    left: 78%;
    
}*/
.carousel-item img {
    position: relative;
}
